<?php

function tpenconnector_sso_config () {

    $tpen_url = [TPEN SERVER URL];
    variable_set('tpenconnector_tpen_url', $tpen_url);

    // get the current site's url
    global $base_url;

    $tpen_sso_variables = array();
    $tpen_sso_variables['tpenconnector_redirect'] = [ 1 - SSO ON, 0 - SSO OFF ];
    $tpen_sso_variables['tpenconnector_destination_login'] = variable_get('tpenconnector_tpen_url').'/loginHook';
    $tpen_sso_variables['tpenconnector_destination_logout'] = variable_get('tpenconnector_tpen_url').'/logoutHook?redirect_uri='.$base_url;
    $tpen_sso_variables['tpenconnector_sso_iv'] = [16-BIT CODE THAT IS THE SAME WITH THE TPEN IV];
    $tpen_sso_variables['tpenconnector_sso_key'] = [16-BIT CODE THAT IS THE SAME WITH THE TPEN KEY];

    foreach ($tpen_sso_variables as $name => $value) {
        variable_set($name, $value);
    }

}