<?php  
// below tpenconnector variables should be in settings.php

$conf['tpenconnector_tpen_url'] = [TPEN SERVER URL];
$conf['tpenconnector_destination_login'] = [TPEN SERVER LOGIN DESTINATION];
$conf['tpenconnector_destination_logout'] = [TPEN SERVER LOGIN DESTINATION].'?redirect_uri='.$base_url;;
$conf['tpenconnector_sso_iv'] = [16 BYTE CODE - SAME WITH T-PEN IV]
$conf['tpenconnector_sso_key'] = [16 BYTE CODE - SAME WITH T-PEN KEY]